#new-campaign > .tab-section ~ .tab-section{
    display: none;
}


#new-campaign > .tab-section > .tab-section ~ .tab-section{
    display: none;
}

.service-tab-section > .tab-section ~ .tab-section{
    display: none;
}
