/* Home Slider */



.home-slider .slider .slide:not(:first-child){
    display: none;
}


.know-more a{
    font-size: 0.7em !important;
    text-decoration: underline;
    text-transform: capitalize;
    color: #2250fc !important;
    cursor: pointer;
}

.points{
    font-size: 0.8em;
    text-align: left;
    text-transform: none;
    color: gray;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-left: 16px;
}

/* modal */
.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m {
    width: 600px;
    z-index: 4;
}

#mainMenu li{
    height: 80px !important;
}

#mainMenu li a{
    line-height: 80px !important;
}
